:root {
    --clr-primary: hsl(172, 67%, 45%);
    --clr-primary-lighten: hsl(172, 67%, 45%);
    --clr-primary-lighten-hover: hsl(173, 61%, 77%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-red: hsl(13, 70%, 61%);
    //hsl(173, 61%, 77%)

    /*neutrals*/

    --clr-neutral-800: hsl(183, 100%, 15%);
    --clr-neutral-800-variant: hsl(183, 79%, 24%);
    --clr-neutral-600: hsl(186, 14%, 43%);
    --clr-neutral-300: hsl(184, 14%, 56%);
    --clr-neutral-200: hsl(185, 41%, 84%);
    --clr-neutral-100: hsl(189, 41%, 97%);
}

$br-radius: 1.5625rem;
$br-radius-form-controls: 0.3125rem;

//breakpoints

$br-small: 600px;
$br-medium: 768px;
$br-large: 1440px;

@mixin respond($breakpoint) {
    @if ($breakpoint == small) {
        @media (min-width: $br-small) {
            @content;
        }
    }
    @if ($breakpoint == medium) {
        @media (min-width: $br-medium) {
            @content;
        }
    }

    @if ($breakpoint == large) {
        @media (min-width: $br-large) {
            @content;
        }
    }
}

@function px_rem($px) {
    $remValue: calc($px / 16) + rem;
    @return $remValue;
}
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Space Mono", monospace;
    font-weight: 700;
}
body {
    background-color: var(--clr-neutral-200);
    font-size: 1.5rem;
}

/*demo only*/
main {
    display: grid;
    place-content: center;
    min-height: 100vh;
}

.logo {
    text-align: center;
    margin: 50px 0 40px 0;
    @include respond("small") {
        margin-bottom: 88px;
    }
}

.calculator {
    background-color: var(--clr-white);
    border-radius: $br-radius;
    padding: px_rem(24);

    @include respond("small") {
        padding: px_rem(32);
    }
}

/* tip selection component */

.calculator {
    max-width: 920px; /*for demo page*/
    @include respond("small") {
        display: flex;
        flex-direction: row;
    }
    &__form {
        padding: px_rem(12);
        @include respond("small") {
            padding-right: px_rem(48);
        }
    }
    &__summary {
        background-color: var(--clr-neutral-800);
        color: var(--clr-white);
        padding: px_rem(24);
        border-radius: px_rem(15);
        display: flex;
        flex-direction: column;

        @include respond("small") {
            padding: px_rem(40);
            border-radius: px_rem(15);
            min-width: 413px;

            .btn {
                margin-top: auto;
            }
        }

        & > *:where(:not(:first-child)) {
            margin-top: 1rem;
        }

        h2 {
            font-size: px_rem(16);
            span {
                font-size: px_rem(13);
                color: var(--clr-neutral-300);
                display: block;
            }
        }
    }
    &__amount,
    &__total {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: px_rem(0) 0;
    }

    &__amount-value,
    &__total-value {
        color: var(--clr-primary);
        font-size: px_rem(32);

        @include respond("small") {
            font-size: px_rem(48);
        }
    }
}
.form__control {
    /* padding: 1rem; */
    position: relative;
    & > * {
        display: block;
    }
    input {
        width: 100%;
        outline-color: transparent;
        outline-width: 2px;
        transition: outline-color 0.3s;

        &:hover,
        &:focus {
            outline: 2px solid var(--clr-primary);
            cursor: pointer;
        }
    }
}
.tip__selection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: px_rem(32) 0;
    @include respond("small") {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
.tip-select--radio {
    padding: 1.5rem 2rem;
    position: relative;

    label {
        position: absolute;
        z-index: 10;
        background-color: var(--clr-neutral-800);
        color: var(--clr-white);
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: $br-radius-form-controls;
        font-size: px_rem(24);
        cursor: pointer;
        left: 0;
        top: 0;
        transition: 0.3s;
        &:has(+ input[type="radio"]:checked) {
            color: var(--clr-neutral-800);
            background-color: var(--clr-primary-lighten);
        }
        &:has(+ input[type="radio"]:checked:hover),
        &:hover {
            color: var(--clr-neutral-800);
            background-color: var(--clr-primary-lighten-hover);
        }
    }

    input[type="radio"] {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
}
label {
    font-size: 1rem;
    color: var(--clr-neutral-600);
}
.btn {
    background-color: var(--clr-primary);
    color: var(--clr-neutral-800);
    border: 0;
    outline: 0;
    font-size: px_rem(20);

    padding: 1rem 0;
    font-weight: 700;
    cursor: pointer;
    border-radius: $br-radius-form-controls;
    transition: background-color 0.3s;
    &:disabled {
        cursor: default;
        background-color: var(--clr-neutral-800-variant);
    }
    &:hover,
    &:focus {
        background-color: var(--clr-primary-lighten-hover);
    }
}

.input__group {
    position: relative;
    .icon {
        position: absolute;

        z-index: 10;
        top: 50%;
        transform: translateY(-50%);
        left: 1rem;
    }
}
input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0;
    background-color: var(--clr-neutral-100);
    border: 0;
    border-radius: $br-radius-form-controls;
    color: var(--clr-neutral-800);
    font-weight: 700;
    padding: 0.5rem;
    text-align: right;
    position: relative;
    font-size: px_rem(24);
    display: block;
    font-family: "Space Mono";
    caret-color: var(--clr-primary-lighten);
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"]:not(.tip-select) {
    margin: px_rem(12) 0;
}

input[type="number"].err {
    outline: 2px solid var(--clr-red);
}

.err-message {
    font-size: 1rem;
    color: var(--clr-red);
    position: absolute;
    right: 0;
    z-index: 10;
    top: 0px;
}

/* utilities*/

.sr-only {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

@media (prefered-reduce-motion: reduce) {
    * {
        transition: 0ms;
    }
}
